div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #123456;
	margin-bottom: 10px;
	font-family: Garamond, sans-serif;
	text-align: center;
	color: #ffffff;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 20px;
	font-family: Garamond, sans-serif;
	text-align: center;
	color: #ffffff;
	padding-left: 450px;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 45%;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 45%;
	height: 400px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
	margin-right: 10px;
	display:inline;
}

.accept {
	background-color: #00ff00;
	width: 100px;
	height: 100px;
}

.reject {
	background-color: #ff0000;
	width: 100px;
	height: 100px;
}
#footer {
	position: relative;
	height: 50px;
	background-color: #123456;
	clear: both;
	font-family: Garamond, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}

textarea {
    resize: none;
    font-family: Times;
    font-size: 20px;
    width: 100%;
    height: 400px;
}
